

<h1>Tweets</h1>

<div>
<%= link_to "Sort by Date", :sort => 'created_at' %>
<br>
<%= link_to "Sort by Handle", :sort => 'Handle' %>
</div>
<br>
<div>
    <% @tweets.each do |tweet| %>
  <div class="panel-heading">
        <strong>Posted by <%= tweet.handle %> </strong>
        <%= time_ago_in_words(tweet.created_at.localtime) + " ago" %>
      </div>
    <div class="panel-body">
      <%= tweet.content %> <br>
        <p><%= link_to "Click to View Tweet", tweet_path(tweet) %></p>
        </div>
    <% end %>


<button type="button" class="btn btn-info">
<%= link_to "Post a new Tweet", new_tweet_path(@tweet) %>
</button>
<%#= tweet.created_at.strftime("Created on %m/%d/%Y" " at %I:%M%p") %>

</div>

